body {font-family:Verdana, Tahoma, sans-serif; font-size:11px; font-weight:normal; background:#fff; text-align:center; color:#333; margin:0; padding:0;}
img {border:0; margin:0; padding:0;}
form {margin:0; padding:0;}
#login {width:520px; height:240px; margin:100px auto 0px auto; text-align:left; background:url(/templates/admin/images/login.jpg) no-repeat top left;}
#login table {position:relative; top:130px; left:18px;}
#login table td {padding:2px 10px;}
#login table td input {width:200px; border:1px solid #0D3E68;}
#login table td input.submit {width:95px; font-weight:bold; border:2px outset #fff; background:#0D3E68; margin-right:10px; color:#fff; cursor:pointer;}
