body {text-align:center; font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:11px; color:#41403b; line-height:20px; background:#fff;}

#wrap {margin:10px; width:760px;}
#wrap #top {display:none;}
#menu {display:none;}
#leftmenu {display:none;}
h1{display:none;}

#maintab {width:760px;}

#maintab #rightcontent {padding:10px; background:#fff;}

#maintab #rightcontent #nowa tr td,#maintab #rightcontent #nowa tr th {border:1px solid #000; background:#fff;}

#wrap_end {display:none;}
#footer {display:none;}
