body {text-align:center; font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:11px; color:#41403b; line-height:20px; background:#fff;}
h1 {display:none;}
#wrap {margin:10px; width:760px;}
#logo {display:none;}
#controler {margin:10px 0 0 0;}
#logout {display:none;}
#menu {display:none;}
.searchinside {display:none;}
.pdf {display:none;}
.print  {margin:10px 0 0 0;}

#tab-notification tr td {border:1px solid #000;}

.dane {width:100%; float:none;}
.dane2 {width:100%; float:none;}
.dane tr td,.dane2 tr td {border:1px solid #000;}